
/*This is an example Sass file */



$boxwidth: 50px;

$color1: #1695A3;
$color2: #ACF0F2;
$color3: #225378;
$color4: #F3FFE2;

body {
  background: $color1;
}

p {
  background: white;
  color: $color1;
}

.box {
  width: $boxwidth;
  height: $boxwidth;
  background: $color1;
}

@import 'nav;'

/*
nav {
	text-align: right;
	text-transform: uppercase;
	padding: 10px;
	background-color: #F3FFE2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #EB7F00;
	z-index: 1;
    
  li {
  	display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Istok Web', sans-serif;
    padding: 15px 7%;
    color: #EB7F00;
  }
  
  a {
    text-decoration: none;
  }
    
  a:hover {
    text-decoration: none;
	  color: #C70039;
	  font-weight: bold;
	  transition: all 2s;
	  font-size: 20px;
  }
  a:focus {
    color: black;
  }
}

*/